<div class="container">
  <app-header></app-header>

  <div class="page">
    <div>
      <video width="840" height="480" controls class="video">
        <source src="assets/video_placeholder.mp4">
      </video>
      <h2 class="video-title">Titulo do video</h2>
      <div class="info-video">
        <div class="channel-info">
          <img src="https://lh3.googleusercontent.com/a/AEdFTp7qgIFu73o4Os7gDCPmOyxGlwk2HWpdqvkADvif" class="perfil" alt="">
          <div>
            <p class="channel-name">Nome do canal</p>
            <span class="subscribes">11 mil inscritos</span>
          </div>
          <button class="subscribe">Inscrever-se</button>
        </div>

        <div class="interation">
          <div class="feedback">
            <div class="like">
              <p class="text">
                <i class="material-symbols-outlined icon">thumb_up</i>
                137
              </p>
            </div>
            <div class="deslike">
              <p>
                <i class="material-symbols-outlined">thumb_down</i>
              </p>
            </div>
          </div>
          <p class="button-video">
            <i class="material-symbols-outlined icon">share</i>
            Compartilhar
          </p>
          <p class="button-video">
            <i class="material-symbols-outlined icon">vertical_align_bottom</i>
            Download
          </p>
          <p class="button-video">
            <i class="material-symbols-outlined">more_vert</i>
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
