.video {
  border-radius: 12px;
  margin-right: 16px;
}

li {
  margin-top: 6px;
  list-style: none;
}


.video-title {
  margin: 12px 0;
  display: block;
}

.channel-name {
  font-weight: bold;
  font-size: 15px;
}

.channel-info {
  display: flex;
  align-items: center;
}

.info-video {
  display: flex;
  justify-content: space-between;
}

.subscribes {
  font-size: 12px;
  color: gray;
}

.subscribe {
  background-color: black;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 16px;
  margin-left: 8px;
}

.page, .interation {
  display: flex;
}

.interation {
  align-items: center;
}

.thumbnail {
  width: 160px;
  height: 90px;
}

.text, .feedback, .button-video {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.deslike {
  display: flex;
  justify-content: center;
  background-color: var(--background-button);
  padding: 4px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 50px;
}

.like {
  background-color: var(--background-button);
  padding: 6px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  width: 80px;
  border-right: 1px solid gray;
}

.icon {
  margin-right: 8px;
}

.feedback:hover, .subscribe:hover, .button-video:hover {
  cursor: pointer;
}

.description {
  min-height: 64px;
  margin-top: 12px;
  background-color: var(--background-button);
  padding: 4px;
  border-radius: 12px;
}

.button-video {
  background-color: var(--background-button);
  padding: 7px;
  font-size: 14px;
  border-radius: 14px;
  margin-left: 8px;
}

.status {
  font-weight: 600;
  font-size: 14px;
}

.text-description {
  margin-top: 8px;
  font-size: 14px;
}

.icon-perfil {
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

.input-comment {
  border: none;
  border-bottom: 1px solid gray;
  display: block;
  outline: none;
  width: 100%;
  margin-left: 16px;
  padding: 0;
}

@media screen and (max-width: 660px) {
  .page {
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }

  .video {
    width: 500px;
    height: 300px;
  }

  .interation {
    margin-top: 12px;
  }

  .info-video {
    display: block;
  }
}
