<div class="sidebar">
  <div class="menu-item">
      <i class="material-symbols-outlined icon">home</i>
      <span class="name">Inicio</span>
  </div>
  <div class="menu-item">
    <i class="material-symbols-outlined icon">bolt</i>
    <span class="name">Shorts</span>
  </div>
  <div class="menu-item">
    <i class="material-symbols-outlined icon">smart_display</i>
    <span class="name">Inicio</span>
  </div>
  <div class="menu-item">
    <i class="material-symbols-outlined icon">account_circle</i>
    <span class="name">Você</span>
  </div>
  <div class="menu-item">
    <i class="material-symbols-outlined icon">schedule</i>
    <span class="name">Histórico</span>
  </div>
</div>
