/* You can add global styles to this file, and also import other style files */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


.container {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
}


:root {
  --background-button: rgba(0,0,0,0.1);
}

/*Estiliza botão perfil tanto no header quanto no sidebar*/
.login_link {
  display: flex;
  margin: 0;
  align-items: center;
  margin-left: 8px;
  justify-content: center;
  gap: 8px;
  height: 32px;
  font-size: 14px;
  line-height: 36px;
  font-weight: bold;
  width: 120px;
  color: #065fd4;
  border: 1px solid var(--background-button);
  border-radius: 24px;
}

.login_link:hover {
  cursor: pointer;
  background-color: #065fd438;
  border: 1px solid transparent;
}

.person {
  width: 24px;
}

.perfil {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 12px;
}
